*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
    background:#0f172a;
    color:white;
}

/* HEADER */

.header{
    width:100%;
    padding:20px 8%;
    background:#111827;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    font-size:30px;
    font-weight:700;
    color:#38bdf8;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:25px;
    font-size:17px;
    transition:0.3s;
}

nav a:hover,
.active{
    color:#38bdf8;
}

/* CONTACT SECTION */

.contact-section{
    min-height:85vh;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:70px;
    padding:60px 8%;
    flex-wrap:wrap;
}

/* LEFT */

.contact-left{
    flex:1;
    min-width:320px;
}

.contact-left h1{
    font-size:55px;
    margin-bottom:20px;
}

.contact-left p{
    font-size:18px;
    line-height:1.8;
    color:#cbd5e1;
    margin-bottom:30px;
}

.contact-links{
    display:flex;
    flex-direction:column;
    gap:20px;
}

.contact-links a{
    width:fit-content;
    text-decoration:none;
    background:#1e293b;
    color:white;
    padding:14px 25px;
    border-radius:10px;
    transition:0.3s;
}

.contact-links a:hover{
    background:#38bdf8;
    transform:translateY(-3px);
}

/* RIGHT */

.contact-right{
    flex:1;
    min-width:320px;
}

.contact-form{
    background:#1e293b;
    padding:40px;
    border-radius:20px;
    display:flex;
    flex-direction:column;
    gap:20px;
    box-shadow:0 0 20px rgba(0,0,0,0.3);
}

.contact-form input,
.contact-form textarea{
    width:100%;
    padding:16px;
    border:none;
    outline:none;
    border-radius:10px;
    background:#0f172a;
    color:white;
    font-size:16px;
}

.contact-form textarea{
    height:160px;
    resize:none;
}

.contact-form button{
    padding:16px;
    border:none;
    border-radius:10px;
    background:#38bdf8;
    color:white;
    font-size:17px;
    font-weight:600;
    cursor:pointer;
    transition:0.3s;
}

.contact-form button:hover{
    background:#0284c7;
    transform:translateY(-3px);
}

/* FOOTER */

footer{
    background:#111827;
    text-align:center;
    padding:20px;
    color:#cbd5e1;
}

/* RESPONSIVE */

@media(max-width:900px){

    .contact-left h1{
        font-size:40px;
    }

}